.hero {
    height: 60px;
    background-color: #F5F5F5;

    .main-btn-font {
        color: #555555;
    }

    .btn-1 {
        color: #9D9D9D;
    }
}

section {
    margin: 56px 70px;
    margin-bottom: 0px;
}

.style {
    font-family: var(--font-family-1);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-transform: capitalize;
}

.accordion-item {
    border: 1px solid #F5F5F5 !important;
    border-radius: 8px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #F5F5F5;
    .accordion-button::after {
        background-image: url(./../../../image/arrow-bottom.svg);
    }

    .accordion-button:not(.collapsed) {
        color: var(--main-color) !important;
        background-color: #F5F5F5;
        border: none !important;
        box-shadow: none;

    }


    .accordion-header {
        background-color: #F5F5F5;

        .accordion-button {
            background-color: #F5F5F5;
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            text-transform: capitalize;
            color: #000000;

            &:focus {
                box-shadow: none;
                border: none;

            }


        }
    }

    .accordion-body {
        background-color: #F5F5F5;
        padding-top: 0px;
        p {
           padding: 0px;
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 18px;

            color: #555555;
            white-space: pre-line;
        }
    }
}

.img-faqs {
    width: 556px;
    height: 321px;

}


@media screen and (max-width : 992px) {

    section {
        margin: 56px 20px;
        margin-bottom: 0px;
    }

    .accordion-item {
       padding: 0px;
        .accordion-body {
            p{
                white-space: normal;
            }
        }
    }

    .img-faqs {
        width: 320px;
        height: 185px;
    }
}