.hero {
    height: 60px;
    background-color: #F5F5F5;

    .main-btn-font {
        color: #555555;
    }

    .btn-1 {
        color: #9D9D9D;
    }
}

section {
    margin: 56px 70px;
}

.map {
    margin: 56px 70px;

    h1 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        text-transform: capitalize;
    }

    p {
        white-space: pre-line;
        font-family: var(--font-family-2);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }

    .icon {
        width: 56px;
        height: 56px;
        border-radius: 25%;
        background-color: #F5F5F5;
    }

    .text {
        p {
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 18px;
            color: #555555;

        }

        h5 {
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            text-transform: capitalize;
            color: #000000;

        }

    }

    .location-map {
        width: 783px;
        height: 390px;
        border-radius: 20px;
    }
}

.contact {
    h2 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-transform: capitalize;
    }

    p {
        font-family: var(--font-family-2);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }

}


@media screen and (max-width : 992px) {

    section {
        margin: 56px 20px;
    }

    .map {
        margin: 56px 0px;

        h1 {
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            text-transform: capitalize;

        }

        p {
            white-space: normal;
        }

        .location-map {
           border-radius: 0px;
            height: 357px;

        }
    }

    .contact {
        /* .form-check-label {
            white-space: pre-line;
        } */
    }
}