@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
    font-family: "Jost", sans-serif;
}

:root {
    --main-color: #FF782D;
    --font-family-1: "Exo", sans-serif;
    --font-family-2: "Jost", sans-serif;
}

.mx-70 {
    margin: 0px 70px;
}

.width-2 {
    width: 12%;
}


.navbar-toggler:not(.collapsed) .list {
    display: none;
    width: 20px;
    height: 20px;
}

.navbar-toggler:not(.collapsed) .close {
    display: inline !important;
    width: 20px;
    height: 20px;
}


.btn-main {
    background-color: var(--main-color);
    color: #ffffff !important;

    &:hover {
        opacity: 1;
        background-color: #FF782D;
        color: #ffffff !important;
    }

    &:active {
        background-color: #FF782D !important;
        color: #ffffff !important;
    }

    &:focus {
        background-color: #FF782D !important;
        color: #ffffff !important;
    }

}

.main-btn-font {
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
}





.nav-item a {
    font-family: var(--font-family-1);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: capitalize;
}

nav {
    .active {
        color: var(--main-color) !important;
    }
}

.dropdown-menu {
    .active {
        background-color: #F5F5F5;
        color: inherit;
    }

    .dropdown-item {
        &:hover {
            background-color: #F5F5F5;
            color: inherit;
        }

        &:focus {
            background-color: #F5F5F5;
            color: inherit;
        }
    }
}

.collapse {
    .search {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 2px solid var(--main-color);
    }
}


.footer {
    margin: 0px;
    height: 458px;
    background-color: #F5F5F5;

    .row {
        gap: 30px;
        padding-top: 50px;

        div {
            gap: 32px;
        }

        .logo-section {
            img {
                width: 167px;
            }

            p {
                font-family: var(--font-family-2);
                font-weight: 400;
                font-size: 18px;
                text-transform: capitalize;
                color: #555555;
                white-space: pre-line;
            }
        }

        h4 {
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 20px;
            text-transform: capitalize;
            color: #000000;

        }

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
                margin-top: 15px;
                font-family: var(--font-family-2);
                font-weight: 400;
                font-size: 18px;
                text-transform: capitalize;
                color: #555555;
            }

            .active {
                color: var(--main-color);
            }
        }

        .address {
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 18px;
            color: #555555;

        }

        .social {
            gap: 12px;
        }
    }

    .copy-right {
        font-family: var(--font-family-2);
        font-weight: 400;
        font-size: 18px;
        color: #555555;
    }
}

@media screen and (max-width : 992px) {
    .mx-70 {
        margin: 0px;
    }

    .nav-item {
        border-bottom: 1px solid #EEEEEE;

        a {
            padding: 20px 0px;
        }
    }

    .footer {
        height: auto;

        .address {
            white-space: pre-line;
        }

        .copy-right {
            white-space: pre-line;
        }
    }
}