.hero {
    height: 60px;
    background-color: #F5F5F5;

    .main-btn-font {
        color: #555555;
    }

    .btn-1 {
        color: #9D9D9D;
    }
}

section {
    margin: 56px 70px;

}



.form-1 {
    border: 1px solid var(--Light_grey, #EAEAEA);
    max-height: 370px;

    h2 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-transform: capitalize;

    }



    .form-check-input {
        border: 1px solid var(--Grey, #9D9D9D);
    }

}

.form-control {
    border: 1px solid var(--Grey, #9D9D9D);

    &::placeholder {
        font-family: var(--font-family-2);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #9D9D9D;
    }


}


.bi-eye {
    font-weight: bold;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.form-2 {
    border: 1px solid var(--Light_grey, #EAEAEA);

}


@media screen and (max-width : 992px) {
    section {
        margin: 56px 20px;

    }
}