.hero {
    height: 60px;
    background-color: #F5F5F5;

    .main-btn-font {
        color: #555555;
    }

    .btn-1 {
        color: #9D9D9D;
    }
}

section{
    margin: 56px 70px;
    margin-bottom: 0px;
}